body {
  font-family: "Droid Serif";
}

h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}

.remark-code,
.remark-inline-code {
  font-family: "Ubuntu Mono";
}

.remark-slide-content {
  background: rgb(129, 129, 129);
  background: linear-gradient(
    130deg,
    rgba(129, 129, 129, 1) 0%,
    rgba(214, 214, 223, 1) 13%,
    rgba(255, 255, 255, 1) 100%
  );
}

.big p,
.big li::marker {
  font-size: xx-large;
}

.large p,
.large li::marker {
  font-size: larger;
}

.clean .remark-slide-number {
  display: none;
}

.avartar > img {
  border-radius: 50%;
  float: right;
}

.icon img {
  height: 1.2em;
  vertical-align: middle;
}

.icon a,
.icon a:visited {
  color: black;
  text-decoration: none;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type,
.left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
